<!DOCTYPE html>
<html>
<head>
<title>Hello mate</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Kiryl Filatau glad to see you, this is the 1st instance!</h1>
</body>
</html>
